<h1>Welcome Administor!!</h1>

入荷履歴

<table border="0"">
  <tr>
    <th></th><th>入荷日時</th><th></th>
  </tr>
  <tr>
    <% @arrivals.each do |arrival| %>
    <td> "を"　arrival_sum "個を追加しました"</td>
    <td>arrived_at</td>
    <td>delete</td>
  </tr>
<% end %>