<h1>Admin::Orders#index</h1>

<table border="0">
    <tr>
    <th>注文番号</th><th>購入日</th><th>氏名</th><th>商品名</th><th>購入枚数</th><th>小計</th><th>購入価格総計</th><th>ステータス</th>
    </tr>
    <tr>
        < @users.each do |user| >
        <td>order.id</td>
        <td>購入日</td>
        <td><%= .family_name_kanji %><%= @users.given_name_kanji %></td>
        <td>商品名</td>
        <td>購入枚数</td>
        <td>小計</td>
        <td>購入価格総計</td>
        <td>ステータス</td>
</tr>
< end >