<header>
  <div class="container">
    <div class="row">
      <nav class="nav navbar-nav navbar-left logo">
        <%= link_to image_tag('logo_normal.png', :size=>'200x50'), new_admin_user_session_path %>
      </nav>
    </div>
  </div>
</header>
