
    <div class="icons">
      <p><i class="fab fa-youtube fa-3x"></i></p>
      <p><i class="fab fa-instagram fa-3x"></i></p>
      <p><i class="fab fa-facebook fa-3x"></i></p>
      <p><i class="fab fa-twitter fa-3x"></i></p>
    </div>
    <div class="copy">
      <p class="copyright">© Record Factory Co.,Ltd</p>
    </div>
    <div class="contact">
      <p>Contact<br>tel:123-4567-8900<br>email:xxx@xxx.com<br><br>特商法に関する表記</p>
    </div>

