<h1>会員様詳細情報画面</h1>
<table class="" border="1" width="100%" height="50">
  <thead>
    <tr>
      <th>ID</th>
    </tr>
    <tr>
      <th>メールアドレス</th>
    </tr>
    <tr>
      <th>住所</th>
    </tr>
    <tr>
      <th>郵便番号</th>
    </tr>
    <tr>
      <th>電話番号</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<table class="" border="1" width="100%" height="50">
  <thead>
    <tr>
      <th>注文ID</th>
      <th>購入日</th>
      <th>商品名</th>
      <th>購入点数</th>
      <th>小計</th>
      <th>送付先</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
