<h1>Welcome Administor!!</h1>
<table border="0">
    <tr>
    <th>入荷履歴</th><th>入荷日時</th><th></th>
    </tr>
    <tr>
    <% @arrivals.each do |arrival| %>
    <td>arrival.product.product.name </td>
    <td><%= arrival.arrived_at %></td>
    <td>delete</td>
</tr>
<% end %>
