
<div class = "container">
<h1>退会確認ページ</h1><br>
<div class = "row">
退会処理に関して<br>
この度はRecord Factoryをご愛顧いただき誠にありがとうございました。<br>
実店舗は長野県安曇野市にございますので、<br>
お越しの際はどうぞお立ち寄りくださいませ。
またのご利用をおまちしております。
下記の「退会」を押下していただきましたら、
退会処理は自動的に完了いたします。
</div><br>

<div class="row alert alert-warning">
<%= link_to end_user_end_user_path(@end_user), method: :delete, data: { confirm: '本当に退会しますか？' } do %>

<button type="button" class="btn btn-danger">退会</button>
<% end %>
</div>
</div>