<h2><span class="label label-info">登録商品一覧</span></h2>
<table>
  <% @products.each do |product| %>
  <tr>
    <td>
      <%= link_to admin_product_path(product) do %>
      <%= attachment_image_tag product, :photo, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100' %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><%= link_to product.product_name, admin_product_path(product) %></td>
  </tr>
  <tr>
    <td><%= product.product_price %></td>
  </tr>
  <% end %>
</table>
