/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP',
    'Times New Roman OS',
    'sans-serif',
    'Noto Serif JP';
  color: #000000;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
background-color: #650000;
width: 100%;
-webkit-text-stroke: 1px #000000;
text-shadow:1px 1px 0 #CB6500;
}
.field {
  color: #000000;
}

.bg {
    background-image: url(record.jpg);
    // background-size: auto;
    background-position: center;
    background-attachment: scroll;
    min-height: 100vh;
}


body , html {
  height: 100%;
}
.container {
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
}
// フッターが入らないので下に100px余白を用意
.footer_m {
  padding-bottom: 100px;
}

footer {
  background-color: #CB6500;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100px;
}

.nav {
  margin: 10px 0;
}

footer .container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  font-weight:800;
  -webkit-text-stroke: 0.2px #ffffff;
}

.icons {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  vertical-align: bottom;
  align-items: flex-end;
}
.copy {
  flex: 1;
  justify-content: center;
  vertical-align: bottom;
  align-items: flex-end;
  position: relative;
  & .copyright {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
  }
}
.contact {
  text-align: center;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.header-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.fab {
  margin: 5px;
  color: #db7093;
}

.fas {
  margin: 10px 15px;
  color: #ffd700;
}
.header-letter {
  color: #ffd700;
  font-weight:800;
}

.copyright{
  text-align: center;
}

.pdflex {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 10px;
  width: 20%;
}

.flex {
  display: block;
}

th{
  text-align: center;
}

.well{
  background-color: transparent !important;
  padding: 0 !important;
  margin-bottom: 0;
}

.form-group{
  text-align: left;
}

select{
  width: 150px;
}

th.new-left{
  text-align: right;
}

td.new-right{
  text-align: left;
}



.order-t{
  border-collapse: collapse;
  border: solid 2px #000000;/*表全体を線で囲う*/
}


/*ドロワー*/
.l-drawer {
  position: relative;

  // inputのcheckboxは非表示
  &__checkbox {
    display: none;
  }

  // ハンバーガーアイコン
  &__icon {
    cursor: pointer;
    display: block;
    width: 56px;
    height: 60px;
    position: flex;
    right: 0;

    // ハンバーガーアイコンの中の線
    &-parts,
    &-parts:before,
    &-parts:after {
      background-color: #000;
      display: block;
      width: 40px;
      height: 2px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }

    &-parts:before,
    &-parts:after {
      content: " ";
    }

    &-parts:before {
      top: 16px
    }

    &-parts:after {
      top: -16px
    }
  }

  // ドロワーメニュー開いた時のメインエリアを暗く
  &__overlay {
    background: #000;
    opacity: 0;
    pointer-events: none; //ポインタの動作全部無効化
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }

  // ドロワーメニュー
  &__menu {
    background: #ffffff;
    color: #000;
    max-width: 100%;
    width: 300px;
    height: 100vh;
    overflow-y: auto; //スクロール
    -webkit-overflow-scrolling: touch; //スクロール（SP）
    position: fixed;
    top: 0;
    right: -320px;
  }

  // z-indexの指定（1がメインエリア）
  &__icon {
    z-index: 4;
  }

  &__menu {
    z-index: 3;
  }

  &__overlay {
    z-index: 2;
  }

  // チェックが入ったら（アイコンクリックしたら）
  &__checkbox:checked~ {

    // ハンバーガーアイコン
    .l-drawer__icon {
      .l-drawer__icon-parts {
        background: transparent;
      }

      .l-drawer__icon-parts:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
      }

      .l-drawer__icon-parts:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }
    }

    // メインエリアを暗くする
    .l-drawer__overlay {
      opacity: 0.3;
      pointer-events: auto; //ポインタの動作デフォルトに戻す
    }

    // メニューをだす
    .l-drawer__menu {
      right: 0;
    }
  }

  // 動きをスムーズに
  &__icon-parts,
  &__icon-parts:after,
  &__icon-parts:before,
  &__overlay,
  &__menu {
    -webkit-transition: all .7s;
    transition: all .7s;
  }
}


.test{
  border: none;
  -webkit-box-shadow: none;
}