<h1>arrival_new</h1>
<table border="1">
<tr>
  <th>商品名:</th>
  <td><%= @product.product_name %></td>
</tr>
<tr>
  <th>アーティスト名:</th>
  <td><%= @product.artist.artist_name %></td>
</tr>
<tr>
  <th>価格(税込み):</th>
  <td><%= @product.product_price %></td>
</tr>
<tr>
<th>ジャンル</th>
<th>
</tr>
